@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #F3F4F6;
}

.wrapper {
  width: 65vmin;
  height: 70vmin;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  background: #1F2A3C;
  box-shadow: 0 20px 40px rgba(52, 87, 220, 0.2);
}

.game-details {
  color: #E0E7FF;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 20px 27px;
  display: flex;
  justify-content: space-between;
}

.play-board {
  height: 100%;
  width: 100%;
  display: grid;
  background: #2B3A47;
  grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}

.play-board .food {
  background: #FF4C6B;
}

.play-board .head {
  background: #6EE7B7;
}

.controls {
  display: none;
  justify-content: space-between;
}

.controls i {
  padding: 25px 0;
  text-align: center;
  font-size: 1.3rem;
  color: #E0E7FF;
  width: calc(100% / 4);
  cursor: pointer;
  border-right: 1px solid #2B3A47;
}

@media screen and (max-width: 800px) {
  .wrapper {
    width: 90vmin;
    height: 115vmin;
  }

  .game-details {
    font-size: 1rem;
    padding: 15px 27px;
  }

  .controls {
    display: flex;
  }

  .controls i {
    padding: 15px 0;
    font-size: 1rem;
  }
}

.instruction {
  text-align: center;
  color: #E0E7FF;
  padding: 15px;
}

.game-over-modal {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.5s ease forwards;
}

.modal-content {
  background: white;
  width: 20%; 
  max-width: 400px; 
  padding: 20px 40px; 
  text-align: center;
  border-radius: 10px; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
  opacity: 0; 
  transform: scale(0.8); 
  animation: popUp 0.5s ease forwards;
  animation-delay: 0.1s;
}

@keyframes fadeIn {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

@keyframes popUp {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-content h2 {
  font-size: 24px;
  color: #333; 
  margin-bottom: 15px; 
}

.modal-content p {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
}

#resetButton {
  background-color: #17A2B8; 
  color: white;
  padding: 10px 20px;
  font-size: 16px; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

#resetButton:hover {
  background-color: #127585; 
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}